body {
    background-color: rgb(220, 220, 230);
    margin: 25px;
}

ol {
  line-height: .5em;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 50px;
}

.txt-center {
    text-align: center;
}

.center {
    width: 15%;
    margin: auto;
    
}

.matrix, table,tr,td {
   padding: 0px;
   text-align: center;
   font-size: xx-large;
}

.pic-caption {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

